

<article class="nav">
      <h1>williamdunlop</h1>
      <h4>A website</h4>

      <article class="linkbar">
        <a style="display:block" href="/">
          <div class="home">
            <p>HOME</p>
          </div>
        </a>
        <a style="display:block" href="/pages/work">
          <div class="work">
            <p>WORK</p>
          </div>
        </a>
        <a style="display:block" href="/pages/about">
          <div class="about">
            <p>ABOUT</p>
          </div>
        </a>
        <a style="display:block" href="/pages/contact">
          <div class="contact">
            <p>CONTACT</p>
          </div>
        </a>
        <a style="display:block" href="/pages/links">
          <div class ="links">
            <p>LINKS</p>
          </div>
        </a>
      </article>
    </article>
