

<article class="nav">
      <h1>williamdunlop</h1>
      <h4>A website</h4>



      <article class="linkbar">
        <a style="display:block" href="/">
          <div class="home">
            <p>HOME</p>
          </div>
        </a>
        <a style="display:block" href="/pages/work">
          <div class="work">
            <p>WORK</p>
          </div>
        </a>
        <a style="display:block" href="/pages/about">
          <div class="about">
            <p>ABOUT</p>
          </div>
        </a>
        <a style="display:block" href="/contacts">
          <div class="contact">
            <p>CONTACT</p>
          </div>
        </a>

        </article>
        <div class="UC">
          <a style="display:block">
            <div class ="log">
              <% if user_signed_in? %>
                <li>
                <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
                </li>
              <% else %>
                <li>
                <%= link_to('Login', new_user_session_path)  %>
                </li>
              <% end %>
            </div>
          </a>
          <a>
            <div class ="reg">
              <% if user_signed_in? %>
                <li>
                <%= link_to('Edit registration', edit_user_registration_path) %>
                </li>
              <% else %>
                <li>
                <%= link_to('Register', new_user_registration_path)  %>
                </li>
              <% end %>
            </div>
          </a>
        </div>
    </article>
