<h1 class="benhead">Benyk</h1>

<div class="topbenimages">
  <div class="imageb">

  </div>

  <div class="imageb2">

  </div>
</div>

<div class="botbenimages">
  <div class="imageb3">

  </div>
  <div class="imageb4">

  </div>
</div>

  <div class="aboutben">
    <h3>What are these?</h3>
    <p>When benyk approached me, he was looking for a simple yet pleasing design for his
    album art and profile. We sat down together and went few various different designs.
    The images on the left side are the final drafts for his promotional poster(top) and
    cover art (bottom). It was a fun project to work on and I look forward to doing more
    work with him if the oppurtunity ever re-presents itself.</p>
  </div>
