



  <h1 class="hillheading">hill town</h1>
  <h4>By William Dunlop</h4>

  <div class="image">
    <div class="text1">
      <p>House</p>
    </div>
  </div>

  <div class="image2">
    <div class="text1">
      <p>Village</p>
    </div>
  </div>

  <div class="image3">
    <div class="text1">
      <p>Lake</p>
    </div>
  </div>

  <div class="abouthill">
    <h3>What is hill town?</h3>
    <p>Hill town is a small scale project made using Autodesk
      Maya and Unreal Engine. Made initially for the purpose
      of getting to know Unreal Engine and for experimenting with
      different styles that I now hope to apply to a more ambitious
      project at some point in the near future. This project aims to
      experiment with how players interact with the gameworld by
      introducing a dynamic progression of procedural world events.</p>
  </div>

  <div class="whenhill">
    <h3>When will it be done?</h3>
    <p>As I am currently studying, Hill town has no completion date.
      It is a very relaxed project that has small bits and pieces added to
      it as time goes on. It should also be noted that it may not necesarily
      be released in the form of "hill town" (if at all) as this term refers
      to a project that is nothing more than an experiment.</p>
  </div>
