
<div class="container">
   <div id="content-slider">
      <div id="slider">  <!-- Slider container -->
         <div id="mask">  <!-- Mask -->

         <ul>
         <li id="first" class="firstanimation">  <!-- ID for tooltip and class for animation -->
         <a href="pages/work"> <img src="http://i64.tinypic.com/91cb4k.jpg" alt="benyk"/> </a>
         <div class="tooltip"> <h1></h1> </div>
         </li>

         <li id="second" class="secondanimation">
         <a href="pages/work"> <img src="http://i64.tinypic.com/svoxuh.jpg" alt="UE"/> </a>
         <div class="tooltip"> <h1>Unreal Engine</h1> </div>
         </li>
         </ul>

         </div>  <!-- End Mask -->
         <div class="progress-bar"></div>  <!-- Progress Bar -->
      </div>  <!-- End Slider Container -->
   </div>
</div>

<div class="foot">
      <p>All rights reserved</p>
    </div>
