

  <div class="hilltown">
    <div class="hillimage">
    </div>
    <h2>Hill Town</h2>
    <p>Hill town is a small scale project made using Autodesk Maya and Unreal Engine.
      Made during my spare time and used mostly for experimentation, Hill Town is a
      relaxing 3d low-poly environment that will hopefully be the birth of new, creative
      ways that players interact with their game environments</p>
  </div>

  <div class="benyk">

  </div>

  <div class="onthetown">

  </div>

  <div class ="code">

  </div>
