
  <div class="topwork">
    <div class="hilltown">
      <div class="hillimage">
      </div>
      <h2>Hill Town</h2>
      <p>Hill town is a small scale project made using Autodesk Maya and Unreal Engine.
        Made during my spare time and used mostly for experimentation, Hill Town is a
        relaxing 3d low-poly environment that will hopefully be the birth of new, creative
        ways that players interact with their game environments</p>
    </div>

    <div class="benyk">
      <div class="benykimage">
      </div>
      <h2>Benyk Logo</h2>
      <p>Benyk is an up and coming local Sydney music producer who approached me in regards
        to designing a logo and album art for him. Many variations were created and eventually
        finialised to tailer toward his taste.</p>
    </div>
  </div>

<div class="bottomwork">
  <div class="animation">
    <div class="aniimage">
    </div>
    <h2>3D Modelling and Animation</h2>
    <p>Using programs such as Autodesk Maya, Substance Painter, Photoshop and Unreal Engine
      I have been able to involve myself with various projects both group orientated and
      independant that revolve around the endless possibilities of 3D.</p>  
  </div>

  <div class ="code">
    <div class="codeimage">
    </div>

  </div>
</div>
