
  <div class="topwork">
    <div class="hilltown">
      <div class="hillimage">
      </div>
      <h2>Hill Town</h2>
      <p>Hill town is a small scale project made using Autodesk Maya and Unreal Engine.
        Made during my spare time and used mostly for experimentation, Hill Town is a
        relaxing 3d low-poly environment that will hopefully be the birth of new, creative
        ways that players interact with their game environments</p>
    </div>

    <div class="benyk">
      <div class="benykimage">
      </div>
      <h2>Benyk Logo</h2>
      <p>Benyk is an up and coming local Sydney music producer who approached me in regards
        to designing a logo and album art for him. Many variations were created and eventually
        finialised to tailer toward his taste.</p>
    </div>
  </div>

  <div class="onthetown">

  </div>

  <div class ="code">

  </div>
