
<meta HTTP-EQUIV="REFRESH" content="3; url= http://willdunlop.herokuapp.com">

<div>
  <% flash.each do |key, value| %>
    <div class ="deliver">
      <h2>Thank you!</h2>
      <!-- <a href="#" data-dismiss="alert">×</a> -->
        <%= value %>
    </div>

  <% end %>
</div>
